<h3>Boas vindas ao sistema de gestão de promoções</h3>

<dl>
  <dt>Promoções cadastradas no sistema</dt>
  <dd><%= @promotions_count %></dd>
  <dt>Promoções aprovadas</dt>
  <dd><%= @approved_promotions_count %></dd>
  <dt>Cupons gerados</dt>
  <dd><%= @coupons_count %></dd>
  <dt>Cupons ativos</dt>
  <dd><%= @active_coupons_count %></dd>
  <dt>Cupons desabilitados</dt>
  <dd><%= @disabled_coupons_count %></dd>
  <dt>Cupons usados</dt>
  <dd><%= @used_coupons_count %></dd>

</dl>