<%= form_with model: promotion do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  <div>
    <%= f.label :discount_rate %>
    <%= f.number_field :discount_rate, in:1.00..100.00, step: 0.01 %>
  </div>
  <div>
    <%= f.label :coupon_quantity %>
    <%= f.number_field :coupon_quantity, min:1 %>
  </div>
  <div>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date %>
  </div>
  <div>
    <%= f.label :product_category_id %>
    <%= f.select :product_category_id, ProductCategory.all.collect { |pc| [pc.code, pc.id] }, include_blank: true  %>
  </div>
  <div>
    <%= f.submit submit_text %>
  </div>
<% end %>