<% if @promotions.empty? %>
  <p><strong>Nenhuma promoção cadastrada</strong></p>
<% end %>
  <table>
    <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>% de Desconto</th>
    </tr>
    <% @promotions.each do |item| %>
      <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= item.description %></td>
      <td><%= number_to_percentage(item.discount_rate, precision: 2, separator: ',') %></td>
      </tr>
    <% end %>
  </table>
  <br>
<%= link_to 'Voltar', root_path %>
<br>
<%= link_to 'Registrar uma promoção', new_promotion_path %>