<div class="bg-light pb-2 pt-2">
<h3>Promoções no Sistema</h3>
<div class="row row-cols-md-auto align-items-center">
  <div class="col-12">
    <%= link_to "Voltar", root_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-12">
    <%= link_to 'Registrar uma Promoção', new_promotion_path, class: 'btn btn-primary' %> 
  </div>
  <div class="col-12 me-auto">
  <%= link_to 'Buscar Promoções', search_promotions_path, class: 'btn btn-primary' %>
  </div>
  <%= form_with url: search_promotions_path, class: 'row row-cols-md-auto', method: :get do |form| %>
    <div class="col-12 ms-auto">
      <%= form.label :query, "Busca", class: 'visually-hidden' %>
      <%= form.search_field :query, class: 'form-control', type: "search" , placeholder: "Buscar Promoção", 'aria-label': 'Buscar Promoção' %>
    </div>
    <div class="col-12">
      <%= form.submit "Buscar", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
</div>

<% if @promotions.empty? %>
  <p><strong>Nenhuma promoção cadastrada</strong></p>
<% end %>
<table>
  <tr>
  <th>Nome</th>
  <th>Descrição</th>
  <th>% de Desconto</th>
  </tr>
  <% @promotions.each do |item| %>
    <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= number_to_percentage(item.discount_rate, precision: 2, separator: ',') %></td>
    </tr>
  <% end %>
</table>