<h3>Promoções no Sistema</h3>
<%= link_to "Voltar", root_path %>
 | <%= link_to 'Registrar uma Promoção', new_promotion_path %> 
 | <%= link_to 'Buscar Cupons', search_promotions_path, class: 'btn btn-primary' %>
<%= form_with url: search_promotions_path, method: :get do |form| %>
  <%= form.label :query, "Busca" %>
  <%= form.search_field :query, type: "search" , placeholder: "Buscar Promoção" %>
  <%= form.radio_button :search_type, "partial", checked: true %>
  <%= form.label :search_type_partial, "Busca Parcial" %>
  <%= form.radio_button :search_type, "exact" %>
  <%= form.label :search_type_exact, "Busca Exata" %>
  <%= form.submit "Buscar" %>
<% end %>
<hr>
<% if @promotions.empty? %>
  <p><strong>Nenhuma promoção cadastrada ou encontrada</strong></p>
<% else %>
<table>
  <tr>
  <th>Nome</th>
  <th>Descrição</th>
  <th>% de Desconto</th>
  </tr>
  <% @promotions.each do |item| %>
    <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= number_to_percentage(item.discount_rate, precision: 2, separator: ',') %></td>
    </tr>
  <% end %>
</table>
<% end %>


