<h3> Busca de promoções</h3>
<%= link_to 'Voltar', promotions_path %>
<hr>
<%= form_with url: search_promotions_promotions_path, method: :get do |form| %>
  <%= form.label :query, "Buscar por:" %>
  <%= form.text_field :query %>
  <%= form.submit "Buscar" %>
<% end %>
<% if @promotions != nil && @promotions.any? %>
<br>
<h4>Promoções cadastradas:</h4>
  <table>
    <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>% de Desconto</th>
    </tr>
    <% @promotions.each do |item| %>
      <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= item.description %></td>
      <td><%= number_to_percentage(item.discount_rate, precision: 2, separator: ',') %></td>
      </tr>
    <% end %>
  </table>
<% end %>