<h3><%= @promotion.name %></h3>
<%= link_to t('buttons.back'), promotions_path %>
<% if @promotion.approved? %>
  <% unless @promotion.coupons? %>
  | <%= link_to t('.edit_promotion'), edit_promotion_path(@promotion) %>
  | <%= link_to t('.generate_coupons'), generate_coupons_promotion_path, method: :post %>
  <% end %>
<% elsif @promotion.can_approve?(current_user) %>
  | <%= link_to t('.approve_promotion'), approve_promotion_path(@promotion),
        method: :post , data: { confirm: t('.data-confirm', action: 'apagar', promotion_name: @promotion.name)} %>
<% else %>
  | <%= link_to t('.delete_promotion'), promotion_path(@promotion),
        method: :delete,  data: { confirm: t('.data-confirm', action: 'apagar', promotion_name: @promotion.name) } %>
 <% end %>
<hr>
<dl>
  <dt><%= Promotion.human_attribute_name(:description) %></dt>
  <dd><%= @promotion.description%></dd>
  <dt><%= Promotion.human_attribute_name(:discount_rate) %></dt>
  <dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
  <dt><%= Promotion.human_attribute_name(:code) %></dt>
  <dd><%= @promotion.code%></dd>
  <dt><%= Promotion.human_attribute_name(:expiration_date) %></dt>
  <dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
  <dt><%= Promotion.human_attribute_name(:coupon_quantity) %></dt>
  <dd><%= @promotion.coupon_quantity%></dd>
  <dt><%= Promotion.human_attribute_name(:user) %></dt>
  <dd><%=@promotion.user.name%></dd>
  <% if @promotion.approver %>
 <dt><%= Promotion.human_attribute_name(:approver) %></dt>
  <dd><%=@promotion.approver.name %></dd>
  <% end %>
</dl>
<% if @promotion.coupons? %>
  <h4> Cupons Gerados: </h4>
  <table>
    <tr>
    <th><%= Promotion.human_attribute_name(:code) %></th>
    <th>Estado</th>
    <th>Ações</th>
    </tr>
  <% @promotion.coupons.each do |coupon|%>
    <tr id="coupon-<%= coupon.code.parameterize%>">
    <td><%=coupon.code%></td>
    <td><%=Coupon.human_attribute_name("status.#{coupon.status}")%></td>
    <td>
      <% if coupon.active?%>
        <%= link_to t('buttons.disable'), disable_coupon_path(coupon), method: :post %>
      <% end %>
      <% if coupon.disabled?%>
        <%= link_to t('buttons.activate'), activate_coupon_path(coupon), method: :post %>
      <% end %>
    </td>
    </tr>
  <% end %>
<% end %>