<h3><%= @promotion.name %></h3>
<dl>
  <dt>Descrição:</dt>
  <dd><%= @promotion.description%></dd>
  <dt>Desconto:</dt>
  <dd><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></dd>
  <dt>Código:</dt>
  <dd><%= @promotion.code%></dd>
  <dt>Válido Até:</dt>
  <dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
  <dt>Cupons Restantes:</dt>
  <dd><%= @promotion.coupon_quantity%></dd>
</dl>
<br>
<%= link_to 'Voltar', promotions_path %>